*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;

}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #030305;
	padding: 5px 7%;
}
.logo img{
	max-width: 100%;
	width: 120px;
	height: auto;
}
.navbar{
	display: flex;
}
.navbar li{
	position: relative;
}
.navbar a{
	color: #ffffff;
	font-weight: 500;
	font-size: 1rem;
	padding: 10px 20px;
}
.navbar a::after{
	content: '';
	position: absolute;
	width: 0%;
	height: 2px;
	background: #ffffff;
	left: 0;
	bottom: -4px;
	transition: ease .42s;
}
.navbar a:hover::after{
	width: 100%;
}
#menu-icon{
	font-size: 30px;
	color: #161616;
	cursor: pointer;
	z-index: 10001;
	display: none;
}
.btn{
	font-size: 14px;
	display: inline-flex;
	justify-content: center;
	font-weight: 600;
	height: 60px;
	line-height: 60px;
	background: #ffffff;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	padding: 0 38px;
	text-transform: uppercase;
	transition: all .34s;
}
.btn:hover{
	opacity: 0.8;
	transform: translateY(-10px);
}
section{
	padding: 0 16%;
}
.container{ 
	height: 100vh; 
	width: 100%; 
	background: url(../img/lucasbg.png); 
	background-size: cover; 
	background-position: center; 
	position: relative; display: 
	grid; grid-template-columns: 
	repeat(1, 1fr); align-items: 
	center; 
} 
.container .text{ 
	margin-bottom: 40px; 
} 
.container .text h1 { 
	color: rgb(0, 0, 0); 
	font-size: 47px; 
	font-weight: 900; 
	line-height: 1.2; 
	margin: 20px 0px 20px; 
} 
.container .text h3 { 
	color: rgb(0, 0, 0); 
	font-weight: 400; 
	font-size: 17px; 
} 
span { 
	color: #9d9d9d; 
} 
.container .text p { 
	width: 440px; 
	max-width: 100%; 
	color: rgb(0, 0, 0); 
	line-height: 1.5; 
	margin-bottom: 30px; 
} 
.social a{ 
	width: 37px; 
	height: 37px; 
	border-radius: 50%; 
	display: inline-flex; 
	align-items: center; 
	justify-content: center; 
	font-size: 17px; 
	color: rgb(0, 0, 0); 
	cursor: pointer; 
	margin-right: 20px; 
	background-color: rgba(255, 255, 255, 0.1); 
	margin-bottom: 35px; 
} 
.social a:hover{ 
	transform: scale(1.1); 
	background: #d5d5de; 
	transition: .4s; 
} 
.container .button{ 
	color: rgb(0, 0, 0); 
	background: #d5d5de; 
	font-size: 16px; 
	font-weight: 500; 
	line-height: 24px; 
	padding: 8px 30px; 
	border: 2px solid #000000; 
	border-radius: 30px; 
	cursor: pointer; 
} 
.container .button:hover{ 
	background: transparent; 
	border: 2px solid #d5d5de; 
	color: #000000; 
	transition: .4s; 
}
.works{
	background: #000000;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: rgb(255, 255, 255);
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #ffffff;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 35px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #151622;
}
h5 {
	color: rgb(0, 0, 0);
	font-size: 20px;
	margin-bottom: 15px;
}
.desc p{
	color: #000000;
	font-size: 13px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background: #000000;
	color: #eee;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #000000;
	cursor: pointer;
}
@media (max-width: 1380px){
	header{
		padding: 18px 2%;
		transition: .2s;	
	}
	section{
		padding: 0 2%;
		transition: .2s;
	}
	.social{
		display: none;
	}
}

@media (max-width: 1120px){
	header{
		padding: 12px 2%;
	}
	#menu-icon{
		display: initial;
	}
	.text h1{
		font-size: 68px;
		transition: .2s;
	}
	.text h3{
		font-size: 18px;
		transition: .2s;
	}
	.text p{
		font-size: 17px;
		transition: .2s;
	}
	.btn{
		height: 50px;
		line-height: 50px;
		padding: 0 28px;
	}
	.container .button{
		margin-left: 10px;
	}
	.navbar{
		position: absolute;
		top: -700px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		background: #000000;
		text-align: left;
		transition: all .35s ease;
	}
	.navbar a{
		display: block;
		padding: 1rem;
		margin: 1.3rem;
		color: #fff;
		border-left: 2px solid #fff;
	}
	.navbar a:hover{
		background: #fff;
		color: #000000;
	}
	.navbar a::after{
		display: none;
	}
	.navbar.active{
		top: 100%;
	}
}

@media (max-width: 640px){
	section{
		padding: 0 3%;
	}
	header{
		padding: 14px 3%;
	}
}


/*----------- footer --------*/

.footer{
	font-size: 13px;
	width: 100%;
	text-align: center;
	padding: 30px 0;
	color: #eee;
	background-color:#000000 ;
}

.footer h4{
	margin-bottom: 10px;
	margin-top: 20px;
	font-weight: 800;
	color: #eee;
}
.icons .bx{
	color: #eee;
	margin: 0 3px;
	cursor: pointer;
	padding: 18px 0;
}
.footer h2{
	font-size: 15px;
	font-weight: 800;
	color: #eee;
}